<!-- HISTÓRIA -->
<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <img src="~/theme/images/Santuario.jpg" class="custom-text-box-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-text-box">
                    <h2 class="mb-2">Nossa Historia</h2>
                    <h5 class="mb-3">Santuário Nossa Senhora da Conceição Aparecida</h5>

                    <p class="mb-0">
                        Em Bela Cruz, uma pequena cidade brasileira, a comunidade enfrentava dificuldades econômicas e espirituais.
                        Padre Cláudio teve uma visão de Nossa Senhora Aparecida e a comunidade se uniu para construir o santuário.
                        Hoje, o Santuário ainda em construção é um farol de devoção, atraindo peregrinos e proporcionando um espaço
                        de paz e renovação.
                    </p>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0">
                            <h5 class="mb-3">Nossa Missão</h5>

                            <p>A construção de um Santuario na cidade de Bela Cruz para abencoar nossa região.</p>

                            <ul class="custom-list mt-2">
                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    Contrução do Santuario.
                                </li>
                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    Arecadação de doações.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>